.Home {
  background-image: url(../../assets/pexels-pixabay-258154.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: max-content;
}
.Home .Welcome-Message {
  width: 100%;
}
.Home .Welcome-Message h3 {
  display: block;
  padding-top: 5vh;
  text-align: center;
  color: white;
  font-size: 1.5rem;
  transition: 1s;
  font-weight: 800;
  margin-bottom: 10vh;
}

.Home .Welcome-Message h3 span {
  font-family: "Playwrite CL", cursive;
  color: tomato;
}

section {
  width: 90%;
  margin: auto;
  color: white;
}
section h4 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 3em;
}
.Services-Container {
  display: flex;
  flex-direction: column;
}
.service {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.Service-Content {
  width: 50%;
  background-color: rgba(0, 0, 0, 0.26);
}
.Service-Content h5 {
  font-size: 2rem;
  text-align: center;
}
.Service-Content p {
  line-height: 2;
}
.Service-Photos {
  width: 50%;
}
.Service-Photos img {
  display: block;
  width: 90%;
  height: 90%;
  margin: 0 auto;
  border-radius: 20%;
}
@media (max-width: 1024px) {
  .service {
    flex-direction: column;
    gap: 10vh;
  }
  .Service-Content {
    width: 100%;
  }
  .Service-Photos {
    width: 80%;
  }
}
