.Home {
  background-image: url(../../assets/pexels-pixabay-258154.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  margin: 0;
}
.Home .Welcome-Message {
  width: 100%;
}
.Home .Welcome-Message h3 {
  display: block;
  padding-top: 5vh;
  text-align: center;
  color: white;
  font-size: 1.5rem;
  transition: 1s;
  font-weight: 800;
  margin-bottom: 20vh;
}

.Home .Welcome-Message h3 span {
  font-family: "Playwrite CL", cursive;
  color: tomato;
}

section {
  width: 90%;
  margin: auto;
  color: white;
}
section h4 {
  font-size: 2rem;
  text-align: center;
}
.Services-Container {
  display: flex;
  flex-direction: column;
}
.service {
  display: flex;
  justify-content: space-evenly;
}
